:root {
    --text: #e8e2f5;
    --background: #0a0514;
    --primary: #a98ceb;
    --secondary: #360f90;
    --accent: #6629f5;
    --select: #2e1569;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3f75c6;
    color: var(--text);
    font-family: "Roboto", sans-serif;
    transition: all 0.2s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

i {
    font-size: 1.5rem;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--select)
}

.music-player {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 90vh;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
    margin: 2%;
    border-radius: 8px;
    transition: all 0.2s ease;

}

.music-player__sidebar {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    justify-self: stretch;
    align-self: stretch;
    padding: 10px 20px;
    margin: 4px;
    background-color: var(--secondary);
    border-radius: 4px;
    height: 100%;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

.music-player__sidebar .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.music-player__sidebar .list .list-item {
    padding: 10px 6px;
    margin: 4px;
    border-radius: 8px;
    transition: 0.2s all;
    font-weight: 200;
    border: 2px solid var(--secondary);
    justify-self: center;
    align-self: stretch;
}

.music-player__sidebar .list .divide {
    padding: 4px 6px;
    justify-self: center;
    align-self: stretch;
    border-top: 4px solid var(--accent);
}

.music-player__sidebar .list .list-item:hover {
    background-color: var(--select);
    color: var(--text);
    cursor: pointer;
    padding: 10px 10px;
}

.music-player__sidebar .list .list-header {
    font-weight: 400;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.music-player__sidebar .list .list-header i {
    margin-right: 4px;
}

.music-player__content {
    justify-self: stretch;
    align-self: stretch;
    grid-row: 1/5;
    grid-column: 2/7;
    margin: 4px;
    padding: 4px;
    transition: all 0.2s ease;
    overflow: scroll;
}

.content-title {
    font-size: 2rem;
    padding: 8px 4px;
    font-weight: 600;
    transition: all 0.2s ease;
    position: sticky;
    top: -4px;
    z-index: 999;
    background-color: var(--background);
}

.music-player__content h4 {
    margin: 4px;
    padding: 4px;
}

.home-grid {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.2s ease;
    margin: 0 8px;
}

.home-grid .grid {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
}

.home-grid .grid:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
    background-color: var(--select)
}

.home-grid .grid .img {
    align-self: center;
    height: 100px;
    width: 100px;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--accent);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-grid .grid .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.home-grid .grid .track-title {
    margin: 4px;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.home-grid .grid .track-artist {
    color: var(--accent);
    margin: 4px;
    padding: 2px;
    font-weight: 100;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.music-player__bottom-bar {
    grid-row: 5/5;
    grid-column: 1/7;
    justify-self: stretch;
    align-self: stretch;
    padding: 8px;
    background-color: var(--secondary);
    border-radius: 8px;
    margin: 16px 4px 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing_now {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-rows: 20px 1fr;
}

.playing_now .bar {
    grid-row: 1;
    grid-column: 1/6;
    width: 96%;
    height: 6px;
    background: var(--accent);
    justify-self: center;
    align-self: center;
    border-radius: 16px;
    margin: 4px 2px;
}

.playing_now .bar .fill {
    width: 40%;
    height: 6px;
    border-radius: 8px;
    background: var(--primary);
    position: relative;
}

.playing_now .bar .fill::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    transition: all 0.1s;
}

.playing_now .bar .fill:hover::after {
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
}

.playing-now-thumbnail {
    grid-row: 2;
    grid-column: 1/2;
    background-color: var(--accent);
    border-radius: 4px;
    height: 80px;
    width: 80px;
    align-self: center;
    justify-self: center;
}

.playing-now-title {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.playing-now-title h3 {
    white-space: nowrap;
    flex-grow: 1;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 12px;
}

.playing-now-title p {
    color: lightvar(--accent);
    white-space: nowrap;
    flex-grow: 1;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 12px;
}

.playing-now-controls {
    grid-row: 2;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-now-right {
    grid-row: 2;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    justify-content: center;
    /* Can be kept for horizontal centering */
    align-items: center;
    /* Centers icons vertically */
    padding: 8px;
    margin: 4px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background-color: var(--secondary);
    transition: all 0.2s ease;
    align-self: center;
    /* Not needed in this case */
}

.main-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2.6px solid var(--primary);
    background-color: var(--accent);
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
}

.main-control:hover {
    background-color: var(--select);
    border-color: var(--primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.control:hover {
    background-color: var(--select);
}

.volume-control {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: var(--accent);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--background);
}

.volume-control .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-control .slider input {
    width: 15vw;
}

#volume:hover .volume-control {
    display: block;
}

@media screen and (max-width: 768px) {
    .content-title {
        font-size: 1.2rem;
    }

    .home-grid .grid .track-title {
        font-size: 0.9rem;
    }

    .home-grid .grid .track-artist {
        font-size: 0.7rem;
    }

    .playing-now-title h3,
    p {
        font-size: 0.9rem;
        padding: 10px 6px;
    }

    .music-player__sidebar .list .list-item {
        padding: 10px;
        margin: 2px;
    }

    .music-player__sidebar .list .list-item:hover {
        padding: 10px
    }

    .music-player__sidebar .list .list-item .list-text {
        display: none;
    }

    .music-player__content {
        justify-self: stretch;
        align-self: stretch;
        grid-row: 1/5;
        grid-column: 2/7;
        margin: 2px;
        padding: 4px;
    }

    .home-grid .grid .img {
        height: 100px;
        width: 100px;
    }

    .playing-now-thumbnail {
        height: 70px;
        width: 70px;
    }

    .playing-now-title h3,
    p {
        white-space: nowrap;
        flex-grow: 1;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 6px;
    }

    .playing-now-right {
        display: none
    }

}